.vs/Practice/xs/UserPrefs.xml
.vs/Practice/xs/sqlite3/db.lock
.vs/Practice/xs/sqlite3/storage.ide
.vs/Practice/xs/sqlite3/storage.ide-shm
.vs/Practice/xs/sqlite3/storage.ide-wal
Practice/obj/x86/Debug/Practice.csproj.FileListAbsolute.txt
